.text-area {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.owasp-rows {
    width: 100%;
    margin: 7px 15px 7px 15px;
}

.owasp-very-high {
    background-color: deeppink;
    text-align: center;
}

.owasp-high {
    background-color:orangered;
    text-align:center;
}

.owasp-medium {
    background-color: orange;
    text-align: center;
}

.owasp-low {
    background-color: gold;
    text-align: center;
}