@{
    ViewBag.Title = "Owasp - Using components with known vulnerabilities";
}

@Html.AntiForgeryToken()

@{
    Response.Headers.Remove("X-Frame-Options");
}

<h2>Using components with known vulnerablities</h2>

<div id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                Major Incidents
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <ol>
                   <li>April 3, 2016 Panama papers incident - Using injection/components with known vulnerabilities (in Wordpress and related plugins) 11.5 million records were stolen from  Mossack Fonesca.</li>
                   <li>In Jan 2017, 1.5 million web pages were defaced, due to a vulnerability in Wordpress REST API, which allowed hackers to modify the site contents.
                    <br/> Wordpress didn't announced the vulnerability until a week later when the patch was released.                    
                   </li> 
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
                Solutions
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                <ol>
                    <li>Keep the .net framework updated with the latest patches</li>
                    <li>Keep the Nuget Packages up to date</li>
                    <li>Run the OWASP dependency checker</li>
                    <li><a href="https://www.owasp.org/index.php/OWASP_Dependency_Check">OWASP Dependency-Check Download</a></li>
                    <li><a href="https://jeremylong.github.io/DependencyCheck/dependency-check-cli/index.html">Dependency-Check cli documentation</a></li>
                    <li>Remove unused dependencies, files, component and documentation</li>
                    <li>Need to check if OS, web/application server, dbms, APIs, runtime environments etc are vulnerable, unsupported or out of date</li>
                    <li><a href="https://cve.mitre.org/">CVE - Common Vulnerabilities and Exposures</a></li>
                    <li><a href="https://nvd.nist.gov/">NVD - National Vulnerability Database</a></li>
                    <li>Perform the Open Source Software scanning.</li>
                </ol>
            </div>
        </div>
    </div>
</div>