
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.AntiForgeryToken()

@{
    Response.Headers.Remove("X-Frame-Options");
}

<div id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Attack Mechanism
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                <img src="~/Content/Images/CSRF.png" style="align-self:center" height="600px" width="auto" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                Coding precautions!!!
            </a>
        </div>
        <div id="collapseTwo" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                <ol>
                    <li>Use the vulurability scanner for whole web-site. (Online or offline)</li>
                    <li>
                        For Asp.net ViewState use
                        <code>
                            <br />protected override OnInit(EventArgs e)
                            <br />{
                            <br /> &nbsp;&nbsp;&nbsp;  base.OnInit(e);
                            <br /> &nbsp;&nbsp;&nbsp; ViewStateUserKey = Session.SessionID;
                            <br />}
                        </code>
                    </li>
                    <li>For MVC, Send the anti-forgery with each form requests using <code>Html.AntiForgeryToken()</code></li>
                    <li>Antiforgery token should be sent for each type of requests like POST, PUT, DELETE and for GET, HEAD when CORS is enabled.</li>
                    <li>For Ajax requests, </li>
                </ol>
            </div>
        </div>
    </div>
</div>

