@{
    ViewBag.Title = "Owasp - Insufficient logging and monitoring";
}

@Html.AntiForgeryToken()

@{
    Response.Headers.Remove("X-Frame-Options");
}

<h2>Insufficient Logging and Monitoring.</h2>

<div id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
                Event logging basics
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                <img src="~/Content/Images/Logging.png" width="600" height="1400" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                Insufficient logging and monitoring
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <ol>
                    <li>Auditable events are not logged: logins, failed logins, high-value transactions</li>
                    <li>Warnings and errors generate poor logs.</li>
                    <li>Logs are only stored locally</li>
                    <li>Logs of applications and APIs are not monitored for suspicious activity</li>
                    <li>Appropriate alerting thresolds and response escalation processes are not in place</li>
                    <li>Logging and alerts are visible to an attacker</li>
                    <li>Exception call stack is not handled with proper bubbling.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                Prevention
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <ol>
                    <li>Log all the valuable transaction and hold for sufficient time for delayed forensic analysis</li>
                    <li>Valuable logs should be tamper free and should not be deleted eg. Append only db table.</li>
                    <li><a href="https://cheatsheetseries.owasp.org/cheatsheets/Logging_Cheat_Sheet.html">Logging cheat sheet.</a></li>
                    <li><a href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-61r2.pdf">NIST 800-61</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>